body {
    background: linear-gradient(rgba(4, 9, 20, 0.5), rgba(54, 9, 30, 0.8));
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    /* height: 100vh; */
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.about {
    margin: 0 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

p {
    text-align: justify;
}

.about > div{
    margin-bottom: 20px;
}

.myself, .involvement {
    flex: 1;
}

.contact {
    /* flex: 1; */
    /* background: rgba(127, 255, 212, 0.562); */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.name {
    margin-bottom: 18px;
    color: white;
}

.contact a {
    padding: 10px;
}

.contact a:hover {
    background: rgba(255, 115, 0, 0.932);
}

h1 {
    margin-bottom: 10px;
}