body {
    background: linear-gradient(rgba(4, 9, 20, 0.5), rgba(54, 9, 30, 0.8));
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}